@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900;1000&display=swap");

html {
  overflow-x: hidden;
}

/* Site pensé Mobile First */
body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 13px;
  max-width: 100vw;
  margin: 0px;
  overflow-x: hidden;
}

/* CSS du header de la page */
header {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 0.5em;
}

header :nth-child(1) {
  padding-left: 0px;
}

.website-logo {
  margin-left: 15px;
}

header :nth-child(2) {
  order: 3;
}

header :nth-child(3) {
  font-family: "Raleway", bold, sans-serif;
  font-weight: 800;
  font-size: 15px;
  color: #0065fc;
  order: 2;
  padding-top: 10px;
  margin-right: 15px;
}

nav {
  max-width: 100vw;
  margin-top: 15px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100vw;
  text-align: center;
}

li {
  list-style: none;
  border-bottom: 3px solid;
  border-color: #f2f2f2;
  padding: 10px;
  font-size: 16px;
  width: 50vw;
  margin: auto;
}

li:active > a {
  color: #0065fc;
  border-color: #0065fc;
}

li:hover {
  color: #0065fc;
  border-color: #0065fc;
}

.hostitle {
  margin: auto;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
  margin: auto;
  width: auto;
}

a:hover {
  color: #0065fc;
  background-color: transparent;
}

#filters {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

/* Partie CSS des filtres */

h1 {
  text-align: left;
}

h2 {
  text-align: left;
  font-weight: 700;
  margin: auto;
}

h3 {
  margin: auto;
  text-align: left;
}

.subtitle {
  font-weight: 500;
  margin: auto;
  padding-bottom: 15px;
  text-align: left;
  margin-left: 0px;
}

/* CSS de la barre de recherche de localisation */
.location-box {
  display: flex;
  align-content: space-around;
  flex-wrap: nowrap;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}

#user-position {
  background-color: #f2f2f2;
  border: 0px;
  border-radius: 5px 0px 0px 5px;
  font-size: 15px;
  width: 50px;
}

#user-position i {
  margin: auto;
  width: 35px;
  text-align: center;
}

form.location-box input[type="text"] {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 15px;
  float: left;
  border: 0px;
  width: auto;
  padding: 1em;
  flex: 1 1 auto;
}

#loc-search-button {
  padding: 1em;
  background-color: #0065fc;
  border: 0px;
  padding: 1em;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

#loc-search-button::after {
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 600;
  content: "\f002";
}

#loc-search-button:active {
  background-color: #f2f2f2;
  color: black;
}

.filters-title {
  font-weight: 800;
  font-size: 17px;
  margin-left: 0px;
  margin-top: 25px;
  margin-right: 80vw;
}

.filters-hosting {
  display: flex;
  flex-wrap: wrap;
}

.filters-hosting button {
  display: flex;
  align-items: center;
  font-family: Raleway, sans-serif;
  background-color: white;
  border: 2px solid #f2f2f2;
  border-left: 1px solid transparent;
  border-radius: 5em;
  font-size: 14px;
  font-weight: 700;
  margin: 0.5em 0.5em 0.5em 0px;
  padding: 0px 10px 0px 0px;
  white-space: nowrap;
}

.filters-hosting button i {
  color: #0065fc;
  background-color: #deebff;
  background-position: center;
  border: 0px solid;
  border-radius: 50%;
  padding: 15px;
  margin: 0% 2vw 0% 0%;
  width: 15px;
  text-align: center;
  white-space: nowrap;
}

/* Partie CSS des hébergements populaires */
#hostings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  width: fit-content;
}

.hostings-number {
  display: flex;
  width: 90vw;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.hostings-number i {
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 3px 1px 3px;
  margin-right: 5px;
  height: 16px;
  width: 16px;
  text-align: center;
  align-content: center;
}

.hostings-number h2 {
  font-size: 13px;
  margin: auto;
  margin-left: 5px;
  text-align: left;
  font-weight: 500;
}

.popular-hostings {
  background-color: #f2f2f2;
  background-size: cover;
  width: 100vw;
}

.most-popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 3em auto 2em auto;
}

.most-popular h2 {
  margin-left: 0px;
}

.most-popular i {
  font-size: 20px;
  font-weight: 900;
}

/* Style des cases des annonces les plus populaires */

.hosting-offers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  margin: 1em auto 1em auto;
  width: 90%;
  background-color: white;
  border-radius: 15px;
  padding: 0.3em;
  box-shadow: 5px 5px 5px #f1f1f1;
}

.hosting-offers h3 {
  font-size: 16px;
  padding-right: 16px;
}

.hosting-offers p {
  margin-top: 5px;
  margin-bottom: 25px;
}

.hosting-offers img {
  object-fit: cover;
  height: 10em;
  width: 9em;
  margin-right: 1em;
  border-radius: 15px 0% 0% 15px;
}

/* Images spécifiques de chaque offre populaire - Affichage images mobile */
.hotel-soleil {
  content: url("../src/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.coeur-eau {
  content: url("../src/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.bleu-blanc {
  content: url("../src/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.hosting-offers figcaption {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: auto;
  margin-left: 5px;
}

/* Notes des offres */
.stars-rating {
  font-size: 12px;
  color: #eeeeee;
}

.checked {
  color: #0065fe;
}

/* Hébergements */

.marseille-hostings {
  width: 90%;
  margin: auto;
}

.marseille-hostings h2 {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 15px;
}

.available-hostings {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 15px;
  background-color: white;
  padding: 0.3em;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #e6e6e6;
}

.available-hostings img {
  object-fit: cover;
  height: 9em;
  width: 100%;
  margin-right: 2em;
  border-radius: 15px 15px 0% 0%;
}

/* Images spécifiques de chaque offre - Affichage images mobile */
.cannebiere {
  content: url("../src/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.hotel-port {
  content: url("../src/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.hotel-mouettes {
  content: url("../src/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.hotel-mer {
  content: url("../src/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.auberge-panier {
  content: url("../src/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.hotel-amina {
  content: url("../src/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

/* Fin des images */

.offers-description {
  line-height: 1em;
  margin: 0.5em;
}

.offers-description h3 {
  padding: 0px;
  margin-top: 0.5em;
}

.offers-description p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.more-button {
  font-family: Raleway, sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
}

/* Activités */
#activities {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 10px auto;
  padding: 5%;
  width: 90%;
}

#activities h2 {
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 0px;
}

#activities figure {
  margin: auto;
  margin-bottom: 25px;
}

.activities-location {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #f2f2f2;
}

.activities-location h3 {
  margin: 1em;
  font-size: 16px;
  font-weight: 700;
}

.activities-location img {
  object-fit: cover;
  height: 10em;
  width: 100%;
  margin-right: 2em;
  border-radius: 15px 15px 0% 0%;
}

/* Images spécifiques de chaque activité - Affichage images mobile */
.vieux-port {
  content: url("../src/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  object-position: 100% 20%;
}

.fort-pomegues {
  content: url("../src/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  object-position: 100% 42%;
}

.iles-frioul {
  content: url("../src/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  object-position: 100% 10%;
}

.parc-calanques {
  content: url("../src/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  object-position: 100% 20%;
}

.dame-garde {
  content: url("../src/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  object-position: 100% 20%;
}

.parc-longchamp {
  content: url("../src/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  object-position: 100% 25%;
}

/* Fin des images */

footer {
  background-color: #f2f2f2;
  padding-top: 35px;
  padding-bottom: 35px;
}

footer div {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
}

footer h3 {
  margin-left: 0px;
  margin-bottom: 10px;
}

footer a {
  font-weight: 400;
  font-size: 15px;
  line-height: 2em;
  margin-left: 0px;
}

/* Fin du code CSS Principal. La suite concerne les différentes tailles d'écrans*/
/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/
/* Code dédié aux écrans mobiles de résolution supérieure à 320px */

/* Taille minimale : 375px */

@media (min-width: 375px) {
  .filters-hosting button {
    font-size: 14px;
    margin: 0.5em 0.5em 0.5em 0px;
    padding: 0px 25px 0px 0px;
  }

  .filters-hosting button i {
    padding: 15px;
    margin: 0% 2vw 0% 0%;
    width: 1em;
  }

  .hosting-offers img {
    width: 10em;
  }
}

/* Taille minimale : 425px */

@media (min-width: 425px) {
  .filters-hosting button {
    font-size: 15px;
    margin: 0.5em 0.5em 0.5em 0px;
    padding: 0px 25px 0px 0px;
  }

  .filters-hosting button i {
    padding: 15px;
    margin: 0% 2vw 0% 0%;
    width: 1em;
  }

  .hosting-offers img {
    width: 13em;
    height: 12em;
  }

  .hosting-offers p {
    margin-bottom: 55px;
  }
}

/* Fin du code CSS pour mobiles */
/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/
/* Code dédié aux écrans tablettes d'une résolution minimale de 768px */

@media (min-width: 768px) {
  header {
    padding-top: 0px;
    flex-wrap: nowrap;
    width: 92vw;
    justify-content: space-around;
  }

  .website-logo {
    margin-left: 15px;
  }

  header :nth-child(2) {
    order: 2;
  }

  nav {
    max-width: 300px;
    margin-top: 0px;
    margin-left: 190px;
  }

  nav ul {
    width: 300px;
    text-align: center;
  }

  li {
    border-top: 3px solid;
    border-color: #f2f2f2;
    border-bottom: 0px transparent;
    padding: 2.5vw 0px 2.5vw 0px;
    text-align: center;
    transition: ease-out 0.2s;
  }

  li:active > a {
    color: #0065fc;
  }

  li:hover > a {
    color: #0065fc;
    border-color: #0065fc;
  }

  .register {
    padding-bottom: 7px;
  }

  h1 {
    font-size: 23px;
  }

  #filters {
    width: 92vw;
  }

  /* Partie CSS des filtres */

  /* CSS de la barre de recherche de localisation */

  .location-box {
    width: fit-content;
    border-radius: 18px;
  }

  #user-position {
    border-radius: 15px 0px 0px 15px;
  }

  #loc-search-button {
    border-radius: 0px 17px 17px 0px;
    transition: ease-out 0.2s;
  }

  #loc-search-button::after {
    font-family: Raleway, sans-serif;
    content: "Rechercher";
  }

  #loc-search-button:hover {
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
  }

  .filters-hosting button {
    margin-right: 10px;
    cursor: pointer;
    transition: ease-out 0.2s;
    font-size: 14px;
    padding-right: 15px;
  }

  .filters-hosting button i {
    margin-right: 10px;
  }

  .filters-hosting button:hover {
    background-color: #deebff;
  }

  .filters-hosting button i:hover {
    color: white;
    background-color: #0065fc;
  }

  #filters .hostings-number {
    align-self: flex-start;
    font-size: 16px;
  }

  /* Partie CSS des hébergements populaires */
  #hostings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    margin: auto;
  }

  .hostings-number {
    margin: 2em 50vw 2em 2em;
  }

  .most-popular {
    font-size: 1.25em;
    width: 90%;
  }

  .most-popular-title {
    margin: 5px 0px 5px 0px;
  }

  .popular-hostings {
    order: 0;
    width: 100%;
    border-radius: 25px;
    margin-left: 0px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .hosting-offers {
    width: 50vw;
    margin-bottom: 2vw;
    transition: transform 0.2s; /* Animation */
  }

  .hosting-offers h3 {
    font-size: 1.7vw;
  }

  .hosting-offers p {
    font-size: 1.3vw;
    line-height: 10px;
    padding-bottom: 0px;
    margin-bottom: 70px;
  }
  .hosting-offers figcaption {
    margin: 0px 12px 10px 0px;
  }

  .hosting-offers:hover {
    transform: scale(1.1);
  }

  .hosting-description {
    flex-wrap: wrap;
    padding-right: 5px;
  }

  /* Images spécifiques de chaque offre populaire - Affichage images mobile */
  .hotel-soleil {
    content: url("../src/images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  }

  .coeur-eau {
    content: url("../src/images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
  }

  .bleu-blanc {
    content: url("../src/images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  }

  /* Hébergements */

  .marseille-hostings {
    border-radius: 25px;
    padding: 15px;
    margin: 0px 5px 0px 0px;
    width: 100vw;
    padding-bottom: 35px;
  }

  .marseille-hostings h2 {
    margin: 1.5em 0px 1.5em 22px;
    font-size: 1.8em;
  }

  .available-offers {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .available-offers h3 {
    font-size: 1.7vw;
  }

  .available-offers p {
    font-size: 1.3vw;
  }

  .available-hostings {
    width: 35vw;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: transform 0.2s; /* Animation */
  }

  .available-hostings img {
    height: 18vw;
  }

  .more-button {
    padding-top: 35px;
    margin: 35px 35px;
  }

  /* Images spécifiques de chaque offre - Affichage images mobile */
  .cannebiere {
    content: url("../src/images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  }

  .hotel-port {
    content: url("../src/images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  }

  .hotel-mouettes {
    content: url("../src/images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  }

  .hotel-mer {
    content: url("../src/images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  }

  .auberge-panier {
    content: url("../src/images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  }

  .hotel-amina {
    content: url("../src/images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  }

  /* Fin des images */

  .available-hostings:hover {
    transform: scale(1.1);
  }

  .popular-hostings article {
    margin-bottom: 25px;
  }

  .more-button {
    width: fit-content;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  /* Activités */

  #activities {
    padding: 15px 0px;
    width: 92vw;
  }

  #activities article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #activities article a img {
    height: 36vw;
  }

  /* Images spécifiques de chaque activité - Affichage images mobile */
  .vieux-port {
    content: url("../src/images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    object-fit: contain;
    object-position: 50%;
  }

  .fort-pomegues {
    content: url("../src/images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    object-position: 50% -170px;
  }

  .iles-frioul {
    content: url("../src/images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    object-position: 50% -60px;
  }

  .parc-calanques {
    content: url("../src/images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  }

  .dame-garde {
    content: url("../src/images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  }

  .parc-longchamp {
    content: url("../src/images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    object-position: 50% -80px;
  }

  /* Fin des images */

  #activities article .pomegues-frioul .fort-pomegues {
    height: 15vw;
  }

  #activities article .pomegues-frioul .iles-frioul {
    height: 10vw;
  }

  #activities article .garde-longchamp .dame-garde {
    height: 16vw;
  }

  #activities article .garde-longchamp .parc-longchamp {
    height: 11vw;
  }

  #activities article .pomegues-frioul {
    margin: auto;
  }

  #activities article .garde-longchamp {
    margin: auto;
  }

  #activities a {
    width: 40vw;
    margin-left: 0%;
    transition: transform 0.2s; /* Animation */
  }

  #activities a:hover {
    transform: scale(1.1);
  }

  #activities div {
    width: 40vw;
    margin: auto;
  }

  #activities div figure {
    transition: transform 0.2s; /* Animation */
  }

  #activities div figure:hover {
    transform: scale(1.1);
  }

  .activities-location {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    margin: 0px 15px 0px 0px;
  }

  .activities-location h3 {
    margin: 1em;
    font-size: 16px;
    font-weight: 700;
  }

  .activities-location img {
    object-fit: cover;
    height: 9em;
    width: 100%;
    margin-right: 2em;
    border-radius: 15px 15px 0% 0%;
  }
}

@media (min-width: 1024px) {
  nav {
    margin-left: 420px;
  }

  .vieux-port {
    object-position: 50% 0px;
  }

  .fort-pomegues {
    object-position: 50% -230px;
  }

  .iles-frioul {
    object-position: 50% -80px;
  }

  .parc-calanques {
    object-position: 50% 0px;
  }

  .parc-longchamp {
    object-position: 50% -100px;
  }
}

/* Fin du code CSS 768px min.*/
/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/
/* Code dédié aux écrans d'une résolution minimale de 1024px */

@media (min-width: 1024px) {
  #activities article .pomegues-frioul .fort-pomegues {
    height: 17vw;
  }

  #activities article .pomegues-frioul .iles-frioul {
    height: 12vw;
  }
}

/* Fin du code CSS 768px min.*/
/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/
/* Code dédié aux écrans d'une résolution minimale de 1025px */

/* CSS de la page pour les écrans dont la largeur fait au minimum 1025px */
@media (min-width: 1025px) {
  header {
    padding-top: 0px;
    flex-wrap: nowrap;
    width: 92vw;
    justify-content: space-around;
  }

  .website-logo {
    margin-left: 15px;
  }

  header :nth-child(2) {
    order: 2;
  }

  nav {
    max-width: 300px;
    margin-top: 0px;
  }

  nav ul {
    width: 300px;
    text-align: center;
  }

  li {
    border-top: 3px solid;
    border-color: #f2f2f2;
    border-bottom: 0px transparent;
    padding: 2.5vw 0px 2.5vw 0px;
    text-align: center;
    transition: ease-out 0.2s;
  }

  li:active > a {
    color: #0065fc;
  }

  li:hover > a {
    color: #0065fc;
    border-color: #0065fc;
  }

  .register {
    padding-bottom: 10px;
  }

  h1 {
    font-size: 23px;
  }

  #filters {
    width: 92vw;
  }

  /* Partie CSS des filtres */

  /* CSS de la barre de recherche de localisation */

  .location-box {
    width: 30%;
    border-radius: 18px;
  }

  #user-position {
    border-radius: 15px 0px 0px 15px;
  }

  #loc-search-button {
    border-radius: 0px 17px 17px 0px;
    transition: ease-out 0.2s;
  }

  #loc-search-button::after {
    font-family: Raleway, sans-serif;
    content: "Rechercher";
  }

  #loc-search-button:hover {
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
  }

  .filters-title {
    margin-right: 25px;
  }

  .filters-hosting button {
    margin-right: 35px;
    cursor: pointer;
    transition: ease-out 0.2s;
    font-size: 14px;
  }

  .filters-hosting button i {
    margin-right: 15px;
  }

  .filters-hosting button:hover {
    background-color: #deebff;
  }

  .filters-hosting button i:hover {
    color: white;
    background-color: #0065fc;
  }

  #filters .hostings-number {
    align-self: flex-start;
    font-size: 16px;
  }

  /* Partie CSS des hébergements populaires */
  #hostings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92vw;
    margin: auto;
  }

  .hostings-number {
    margin: 2em 50vw 2em 0px;
  }

  .most-popular {
    font-size: 1.25em;
    width: 80%;
  }

  .most-popular-title {
    margin: 5px 0px 5px 0px;
  }

  .popular-hostings {
    order: 2;
    width: 35%;
    border-radius: 25px;
    margin-left: 0px;
  }

  .hosting-offers {
    width: 80%;
    margin-bottom: 2.3vw;
    transition: transform 0.2s; /* Animation */
  }

  .hosting-offers h3 {
    font-size: 1.1vw;
  }

  .hosting-offers p {
    font-size: 1vw;
    line-height: 10px;
    padding-bottom: 25px;
    margin-bottom: 15px;
  }

  .hosting-offers img {
    height: 8.2em;
    width: 8.2em;
  }

  .hosting-offers figcaption {
    margin: 0px 18px 10px 0px;
  }

  .hosting-offers:hover {
    transform: scale(1.1);
  }

  .hosting-description {
    flex-wrap: wrap;
    padding-right: 5px;
  }

  /* Images spécifiques de chaque offre populaire - Affichage images mobile */
  .hotel-soleil {
    content: url("../src/images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  }

  .coeur-eau {
    content: url("../src/images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
  }

  .bleu-blanc {
    content: url("../src/images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  }

  /* Hébergements */

  .marseille-hostings {
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 15px;
    margin: 0px 5px 0px 0px;
    width: 55vw;
    padding-bottom: 35px;
  }

  .marseille-hostings h2 {
    margin: 1.5em 0px 1.5em 22px;
    font-size: 1.8em;
  }

  .available-offers {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .available-offers h3 {
    font-size: 1.3vw;
  }

  .available-offers p {
    font-size: 1.1vw;
  }

  .available-hostings {
    width: 17vw;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: transform 0.2s; /* Animation */
  }

  .available-hostings img {
    height: 8vw;
  }

  .more-button {
    padding-top: 35px;
    margin: 35px 35px;
  }

  /* Images spécifiques de chaque offre - Affichage images mobile */
  .cannebiere {
    content: url("../src/images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  }

  .hotel-port {
    content: url("../src/images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  }

  .hotel-mouettes {
    content: url("../src/images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  }

  .hotel-mer {
    content: url("../src/images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  }

  .auberge-panier {
    content: url("../src/images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  }

  .hotel-amina {
    content: url("../src/images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  }

  /* Fin des images */

  .available-hostings:hover {
    transform: scale(1.1);
  }

  .popular-hostings article {
    margin-bottom: 25px;
  }

  .more-button {
    width: fit-content;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  /* Activités */

  #activities {
    padding: 15px 0px;
    width: 92vw;
  }

  #activities article {
    display: flex;
    flex-direction: row;
  }

  #activities article a img {
    height: 25vw;
  }

  /* Images spécifiques de chaque activité - Affichage images mobile */
  .vieux-port {
    content: url("../src/images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    object-fit: contain;
    object-position: 50%;
  }

  .fort-pomegues {
    content: url("../src/images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    object-position: 50% -100px;
  }

  .iles-frioul {
    content: url("../src/images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    object-position: 50% -10px;
  }

  .parc-calanques {
    content: url("../src/images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  }

  .dame-garde {
    content: url("../src/images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  }

  .parc-longchamp {
    content: url("../src/images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    object-position: 50% 0px;
  }

  /* Fin des images */

  #activities article .pomegues-frioul .fort-pomegues {
    height: 11vw;
  }

  #activities article .pomegues-frioul .iles-frioul {
    height: 9vw;
  }

  #activities article .garde-longchamp .dame-garde {
    height: 8vw;
  }

  #activities article .garde-longchamp .parc-longchamp {
    height: 11vw;
  }

  #activities article .pomegues-frioul {
    margin-left: 0px;
  }

  #activities article .garde-longchamp {
    margin: 0px;
  }

  #activities a {
    width: 20vw;
    margin-left: 0%;
    transition: transform 0.2s; /* Animation */
  }

  #activities a:hover {
    transform: scale(1.1);
  }

  #activities div {
    width: 20vw;
    margin: auto;
  }

  #activities div figure {
    transition: transform 0.2s; /* Animation */
  }

  #activities div figure:hover {
    transform: scale(1.1);
  }

  .activities-location {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    margin: 0px 15px 0px 0px;
  }

  .activities-location h3 {
    margin: 1em;
    font-size: 13px;
    font-weight: 700;
  }

  .activities-location img {
    object-fit: cover;
    height: 9em;
    width: 100%;
    margin-right: 2em;
    border-radius: 15px 15px 0% 0%;
  }

  footer {
    display: flex;
    background-color: #f2f2f2;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  footer div {
    display: block;
    width: auto;
    margin-bottom: 0px;
    margin-left: 3em;
    margin-right: 8em;
    margin-top: 0px;
  }

  footer a {
    font-weight: 400;
    font-size: 15px;
    line-height: 2em;
    margin-left: 0px;
    display: inherit;
  }
}

/* Fin du code CSS 1025px min.*/
/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/
/* Code dédié aux écrans d'une résolution minimale de 1200px */

/* CSS de la page pour les écrans dont la largeur fait au minimum 1200px */

@media (min-width: 1200px) {
  nav {
    max-width: 300px;
    margin-top: 0px;
    margin-left: 53vw;
  }

  .hosting-offers img {
    height: 9em;
    width: 9em;
  }

  .filters-hosting button {
    margin-right: 35px;
    cursor: pointer;
    transition: ease-out 0.2s;
    font-size: 16px;
  }

  footer div {
    margin-left: 5em;
    margin-right: 10em;
  }
}

@media (min-width: 1280px)
 {
   .hosting-offers img {
     width: 9.4em;
     height: 9.4em;
   }
 }
/* Fin du code CSS 1200px min.*/
/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/
/* Code dédié aux écrans d'une résolution minimale de 1400px */

/* CSS de la page pour les écrans dont la largeur fait au minimum 1400px */

@media (min-width: 1400px) {
  nav {
    max-width: 300px;
    margin-top: 0px;
    margin-left: 60vw;
  }

  .hosting-offers img {
    height: 140px;
    width: 140px;
    margin-right: 20px;
  }

  .vieux-port {
    content: url("../src/images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    object-fit: contain;
    object-position: 50% 0px;
  }

  .fort-pomegues {
    content: url("../src/images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    object-position: 50% -160px;
  }

  .iles-frioul {
    content: url("../src/images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    object-position: 50% -10px;
  }

  .parc-calanques {
    content: url("../src/images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    object-position: 50% 0px;
  }

  .dame-garde {
    content: url("../src/images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  }

  .parc-longchamp {
    content: url("../src/images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    object-position: 50% 0px;
  }

  footer div {
    margin-left: 6em;
    margin-right: 15em;
  }
}

@media (min-width: 1500px) {
  .hosting-offers h3 {font-size: 18px;}
}

@media (min-width: 1600px) {
  .hosting-offers h3 {font-size: 19px;}
}

@media (min-width: 1700px) {
  .hosting-offers h3 {font-size: 20px;}
  .hosting-offers img {
    width: 9vw;
    height: 9vw;
  }
}

@media (min-width: 1800px) {
  .filters-hosting button {
    margin-left: 20px;
    font-size: 18px;
  }
  
  .hosting-offers {
    margin-bottom: 25px;
  }

  .hosting-offers img {
    height: 10vw;
    width: 10vw;
  }

  .hosting-offers figcaption {
    margin-left: 20px;
  }

  .hosting-offers h3 {
    font-size: 20px;
  }

  .hosting-offers p {
    font-size: 18px;
    padding-bottom: 45px;
  }

  .stars-rating{font-size: 18px;}

  #activities .activities-location h3 {
    font-size: 20px;
  }
}

/* Fin du code CSS pour les petites tailles d'écran PC.*/
/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/
/* Code dédié aux écrans d'une résolution minimale de 1920px */

/* CSS de la page pour les écrans dont la largeur fait au minimum 1920px */

@media (min-width: 1900px) {
  nav {
    max-width: 300px;
    margin-top: 0px;
    margin-left: 68vw;
  }

  .filters-hosting button {
    margin-left: 15px;
    padding-right: 35px;
    font-size: 18px;
  }

  .hosting-offers {
    margin-bottom: 25px;
  }

  .hosting-offers img {
    height: 10vw;
    width: 10vw;
  }

  .hosting-offers figcaption {
    margin-left: 20px;
  }

  .hosting-offers h3 {
    font-size: 25px;
  }

  .hosting-offers p {
    font-size: 16px;
    padding-bottom: 45px;
  }

  .stars-rating {
    font-size: 18px;
  }

  .marseille-hostings img {
    height: 8.5vw;
  }

  .marseille-hostings h3 {
    font-size: 20px;
    margin-top: 15px;
  }

  .marseille-hostings p {
    font-size: 16px;
  }

  .available-hostings{
    padding-bottom: 15px;
  }

  /* Images spécifiques de chaque offre populaire - Affichage images mobile */
  .hotel-soleil {
    content: url("../src/images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  }

  .coeur-eau {
    content: url("../src/images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
  }

  .bleu-blanc {
    content: url("../src/images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  }

  /* Images spécifiques de chaque offre - Affichage grand écran */
  .cannebiere {
    content: url("../src/images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  }

  .hotel-port {
    content: url("../src/images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  }

  .hotel-mouettes {
    content: url("../src/images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  }

  .hotel-mer {
    content: url("../src/images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  }

  .auberge-panier {
    content: url("../src/images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  }

  .hotel-amina {
    content: url("../src/images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  }

  /* Fin des images */

  /* Images spécifiques de chaque activité - Affichage images grand écran */
  .vieux-port {
    content: url("../src/images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    object-fit: contain;
    object-position: 50%;
  }

  .fort-pomegues {
    content: url("../src/images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    object-position: 50% -120px;
  }

  .iles-frioul {
    content: url("../src/images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    object-position: 50% -10px;
  }

  .parc-calanques {
    content: url("../src/images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  }

  .dame-garde {
    content: url("../src/images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  }

  .parc-longchamp {
    content: url("../src/images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  }

  .vieux-port {
    content: url("../src/images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    object-fit: contain;
    object-position: 50% 0px;
  }

  .fort-pomegues {
    content: url("../src/images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    object-position: 50% -160px;
  }

  .iles-frioul {
    content: url("../src/images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    object-position: 50% -10px;
  }

  .parc-calanques {
    content: url("../src/images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  }

  .dame-garde {
    content: url("../src/images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  }

  .parc-longchamp {
    content: url("../src/images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  }

  #activities h3 {
    font-size: 20px;
  }

  #activities article .garde-longchamp .dame-garde {
    height: 10vw;
  }

  #activities article .garde-longchamp .parc-longchamp {
    height: 11vw;
  }

  footer div {
    margin-right: 350px;
  }
}

/* Fin du code CSS 1920px min.*/
/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/
/* Code dédié aux écrans d'une résolution minimale de 2560px */

/* CSS de la page pour les écrans dont la largeur fait au minimum 2560px */

@media (min-width: 2560px) {
  nav {
    max-width: 300px;
    margin-top: 0px;
    margin-left: 73vw;
  }

  header :nth-child(3) {
    font-size: 20px;
  }

  nav li a {
    font-size: 20px;
  }

  .register {
    font-size: 20px;
  }

  .location-box {
    height: 2.5vw;
  }

  #user-position {
    width: 2.5vw;
  }

  #user-position i {
    font-size: 20px;
  }

  form.location-box input[type="text"] {
    font-size: 20px;
  }

  #loc-search-button::after {
    font-size: 20px;
  }

  .filters-title {
    font-size: 20px;
  }

  .filters-hosting button {
    font-size: 20px;
  }

  .hostings-number h2 {
    font-size: 15px;
  }

  .hostings-number i {
    font-size: 15px;
  }

  .most-popular {
    font-size: 20px;
    margin-top: 50px;
  }

  .most-popular i {
    font-size: 25px;
  }

  .popular-hostings figcaption {
    margin-left: 35px;
  }

  .popular-hostings h3 {
    font-size: 30px;
    padding-right: 55px;
  }

  .popular-hostings p {
    font-size: 20px;
    padding-bottom: 80px;
  }

  .stars-rating {
    font-size: 20px;
  }

  .marseille-hostings {
    font-size: 15px;
  }

  .available-hostings h3 {
    font-size: 23px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .available-hostings p {
    font-size: 17px;
    padding-bottom: 10px;
  }

  #activities h2 {
    font-size: 30px;
  }

  .activities-location h3 {
    font-size: 26px;
  }

  #activities article .garde-longchamp .dame-garde {
    height: 10.5vw;
  }

  #activities article .garde-longchamp .parc-longchamp {
    height: 10.5vw;
  }

  .fort-pomegues {
    object-position: 50% -210px;
  }

  footer div {
    margin-right: 20vw;
  }

  footer h3 {
    font-size: 22px;
    margin-bottom: 18px;
  }

  footer a {
    font-size: 18px;
  }
}
